<div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
  <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
      var setting = {"height":534,"width":792,"zoom":17,"queryString":"вулиця Вернадського, 2, Львов, Львовская область, Украина","place_id":"EmfQstGD0LvQuNGG0Y8g0JLQtdGA0L3QsNC00YHRjNC60L7Qs9C-LCAyLCDQm9GM0LLQvtCyLCDQm9GM0LLQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsINCj0LrRgNCw0LjQvdCwIjASLgoUChIJORwGaVvoOkcRkbANhxz5PLYQAioUChIJ60h31UToOkcRWxunensBaQI","satellite":false,"centerCoord":[49.78100171877917,24.06894729999999],"cid":"0x537ceba6cd0ce1a5","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"40840"};
      var d = document;
      var s = d.createElement('script');
      s.src = 'https://1map.com/js/script-for-user.js?embed_id=40840';
      s.async = true;
      s.onload = function (e) {
        window.OneMap.initMap(setting)
      };
      var to = d.getElementsByTagName('script')[0];
      to.parentNode.insertBefore(s, to);
    })();</script><a href="https://1map.com/map-embed?embed_id=40840">1map.com</a></div>