<div>
  <section id="login" class="d-grid justify gap">
    <form>
      <div class="containerForm">
        <p><i class="fas fa-at"></i></p>
        <input type="email" type="email" name="email" placeholder='Email' class="reg-input" [(ngModel)]="email">
      </div>
      <div class="containerForm">
        <p><i class="fas fa-unlock-alt"></i></p>
        <input type="password" type="password" name="password" placeholder='Пароль' class="reg-input" [(ngModel)]="password">
      </div>  
      <button type="button" class="" (click)="login()" [disabled]='btnDisabled'>Увійти</button>
    </form>
  </section>
</div>